<div class="card">
  <div class="card-header">
    @ViewBag.Candidato.Nombre @ViewBag.Candidato.Apellido
  </div>
  <div class="card-body">
    <img src= @ViewBag.Candidato.Foto>
    <p class="card-text">@ViewBag.Candidato.FechaNacimiento</p>
    <p class="card-text">@ViewBag.Candidato.Postulacion</p>
    <a href= '@Url.Action("VerDetallePartido", "Home",  new {idPartido = @ViewBag.Candidato.IdPartido})' class="btn btn-primary">Volver al partido</a>
  </div>
</div>